.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.List {
  margin: 0;
  padding: 10px;
  line-height: 1;
  list-style: none;
  width: 100%;
  text-align: center;
}
.List li {
  display: inline-block;
  margin: 20px;
}
.List a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: black;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.List a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -25%;
  min-width: 0;
  border-radius: 50%;
  height: 2px;
  background: #000;
  transition: inherit;
}

.List a:hover,
.List a:active,
.List .active {
  color: darkorange;
  opacity: 0.6;
}

.List .activeClass {
  color: darkgoldenrod;
  opacity: 1;
}
.List a:hover::after {
  min-width: 150%;
}
.FullPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.Edit label {
  display: block;
  color: grey;
}

.Edit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
  color: #521751;
}

.Edit button.Delete {
  color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
  color: darkred;
}
.NewPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.NewPost label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.NewPost button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #fa923f;
  background-color: transparent;
  color: #fa923f;
  cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
  color: white;
  background-color: #fa923f;
}
.Post {
  width: 250px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.Post:hover,
.Post:active {
  background-color: #c0ddf5;
}

.Author {
  margin: 16px 0;
  color: #ccc;
}
